* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color:  #ffc107;
    display: flex;
    align-items: center;
    padding-left: 30px;
    height: 100px;
    margin-bottom: 45px;
    
}
header img {
    position: relative;
    left: 170px;
}

main {
    padding-left: 30px;
}
form ul {
    display: inline-block;
    margin-right: 75px;
}

form ul li{
    list-style: none;
}

.crucial-container {
    margin: 0px 200px;
}  

.ingredients {
  margin-top: 15px;
}
span{
    margin: 0px 15px 0px 15px;
}

input{
    vertical-align: middle;
}
label{
    color:red;
    margin-left: 5px;
}

.create-prices-btn {
    margin: 30px 300px 0px 300px;
}

#dis-coupon{
    width: 500px;
    background-color: rgb(219, 219, 139);
    opacity: .3;
    border-radius: 15px;
    border:none;
}
footer{
    background-color:rgb(211, 72, 95);
    height:80px;
    margin-top: 200px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

